<h1> <%= @countries.name %> </h1>
<br>
<p> <%= @countries.name %>'s population is <%= @countries.population %> </p>
<p> <%= @countries.name %>'s currency is <%= @countries.currency %> </p>
<br>
<%= image_tag(@countries.image, alt: 'No image', width:200) %>