<h1> <%= @countries.name %> </h1>
<br>
<p> <%= @countries.name %>'s population is <%= @countries.population %> people </p>
<p> <%= @countries.name %>'s currency is <%= @countries.currency %> </p>
<p> <%= @countries.name %>'s size is <%= @countries.size %> square miles </p>
<p> <%= @countries.name %>'s first langauge is <%= @countries.first_language %> </p>
<br>
<%= image_tag(@countries.image, alt: 'No image', width:200) %>